In [1]:
pwd

'/home/yidamu/EACL2023/Rumor_Benchmarks_Temporality-main'

In [2]:
import pandas as pd
from collections import Counter

# Twitter 15 Standard Chronological

In [7]:
tw15=pd.read_csv('tw15.csv')

In [10]:
tw15.head()

,level_0,index,id,text,label
0,380,27,80080680482123777,seriously? racist mcdonald’s sign is obviously...,0
1,474,399,80084555733803009,hoax: mcdonald's issues official statement on ...,0
2,440,272,91728807081426944,"#psa please do not drink any pepsi soda, a wor...",0
3,696,1297,265953285247209472,deep-fried left wings demo-crab cakes barack-a...,0
4,473,398,273182568298450945,42 million dead in bloodiest black friday week...,0

In [24]:
train=tw15[:519]
dev=tw15[519:594]
test=tw15[594:]
#del data
xtrain=train['text']
ytrain=train['label']
xdev=dev['text']
ydev=dev['label']
xtest=test['text']
ytest=test['label']
#
train=pd.DataFrame({'text':xtrain, 'labels':ytrain})
dev=pd.DataFrame({'text':xdev, 'labels':ydev})
test=pd.DataFrame({'text':xtest, 'labels':ytest})

In [25]:
Counter(train.labels), Counter(test.labels), Counter(dev.labels)

(Counter({0: 234, 1: 285}), Counter({1: 52, 0: 96}), Counter({1: 35, 0: 40}))

# Twitter 16 Stratified Chronological

In [23]:
tw16=pd.read_csv('tw16.csv')
tw16.head()

,inex,id,text,label
0,1,615689290706595840,.@whitehouse in rainbow colors for #scotusmarr...,1
1,5,614467824313106432,god put a rainbow over the white house 🌈 URL,1
2,12,553589051044151296,several hostages freed at jewish supermarket i...,1
3,13,553590835850514433,"hostage-taker in supermarket siege killed, rep...",1
4,16,616311563071434753,apologies if you've already seen a crow riding...,1

In [12]:
fff=tw16[tw16['label']==0]
ttt=tw16[tw16['label']==1]
#
fff=fff.sort_values(by='id')
ttt=ttt.sort_values(by='id')
#
ftrain=fff[:144]
fdev=fff[144:165]
ftest=fff[165:]
ttrain=ttt[:144]
tdev=ttt[144:165]
ttest=ttt[165:]

tr=pd.concat([ftrain, ttrain])
de=pd.concat([fdev, tdev])
te=pd.concat([ftest, ttest])
#
xtrain=tr['text'].values
ytrain=tr['label'].values
xdev=de['text'].values
ydev=de['label'].values
xtest=te['text'].values
ytest=te['label'].values
#
train=pd.DataFrame({'text':xtrain, 'labels':ytrain})
dev=pd.DataFrame({'text':xdev, 'labels':ydev})
test=pd.DataFrame({'text':xtest, 'labels':ytest})

In [22]:
Counter(train.labels), Counter(test.labels), Counter(dev.labels)

(Counter({0: 144, 1: 144}), Counter({0: 40, 1: 42}), Counter({0: 21, 1: 21}))

# Weibo Stratified Chronological

In [30]:
weibo=pd.read_csv('weibo2776_924_964.csv')
weibo=weibo.dropna()
fff=weibo[weibo['labels']==0]
ttt=weibo[weibo['labels']==1]

fff=fff.sort_values(by='id')
ttt=ttt.sort_values(by='id')

ftrain=fff[:1619]
fdev=fff[1619:1850]
ftest=fff[1850:]

ttrain=ttt[:1645]
tdev=ttt[1645:1880]
ttest=ttt[1880:]

tr=pd.concat([ftrain, ttrain])
de=pd.concat([fdev, tdev])
te=pd.concat([ftest, ttest])

xtrain=tr['text'].values
ytrain=tr['labels'].values
xdev=de['text'].values
ydev=de['labels'].values
xtest=te['text'].values
ytest=te['labels'].values

train=pd.DataFrame({'text':xtrain, 'labels':ytrain})
dev=pd.DataFrame({'text':xdev, 'labels':ydev})
test=pd.DataFrame({'text':xtest, 'labels':ytest})

In [36]:
weibo.head()

,level_0,index,id,text,time,labels
0,0,1303,4010312877,【犯罪学证据，好吓人！】猫在主人死后不久就开始吃他们的尸体，导致取证困难，而狗，则会等上一两...,1291221273,0
1,1,1484,4016873519,[怒]若是有人在路上拦你，向你推销福建安溪铁观音又建议你闻一下试一下味，千万别上当，那不是铁...,1291262818,0
2,2,2306,4264473811,今天约好去海底捞，我去了白家庄店，朋友去了红庙店，居然都点了菜上了锅悠闲的等对方，最后才知道...,1292138735,0
3,3,3986,4473713031,临沂市委书记奸淫上百幼女...（燕赵都市网）.原文出处http://sinaurl.cn/h...,1292411740,0
4,4,4578,4568996921,《以下食物三小时之内不宜同时食用》：【蜂蜜+洋葱—引起眼病】【羊肉+西瓜—伤元气】【鸡蛋+豆...,1292756305,0

In [31]:
Counter(train.labels), Counter(test.labels), Counter(dev.labels)

(Counter({0: 1619, 1: 1645}),
 Counter({0: 463, 1: 470}),
 Counter({0: 231, 1: 235}))

# PHEME Standard Chronological

In [32]:
data=pd.read_csv('pheme_2603.csv')
pheme=data.sort_values(by='id')
train=pheme[:4061]
dev=pheme[4061:4641]
test=pheme[4641:]
#del data
xtrain=train['text']
ytrain=train['labels']
xdev=dev['text']
ydev=dev['labels']
xtest=test['text']
ytest=test['labels']
#
train=pd.DataFrame({'text':xtrain, 'labels':ytrain})
dev=pd.DataFrame({'text':xdev, 'labels':ydev})
test=pd.DataFrame({'text':xtest, 'labels':ytest})

In [33]:
Counter(train.labels), Counter(test.labels), Counter(dev.labels)

(Counter({0: 2641, 1: 1420}),
 Counter({0: 681, 1: 480}),
 Counter({0: 508, 1: 72}))

In [37]:
data.head()

,level_0,index,id,text,time,labels
0,2590,618,498235547685756928,Black teenage boys are not men . They are chil...,2014-08-09 22:33:06,0
1,2179,207,498248415223246848,The mother of the boy killed in #Ferguson spea...,2014-08-09 23:24:13,0
2,4966,2994,498248648699150336,Police have brought out the large gear in #Fer...,2014-08-09 23:25:09,0
3,5781,3809,498250100079341568,"Omg Wow "" @USER : WOW RT @USER : Police have b...",2014-08-09 23:30:55,0
4,4345,2373,498251940997136384,When you see citizens as enemies ... RT @USER ...,2014-08-09 23:38:14,0